<!doctype html>
<html>
    <head>
        <!-- HTML Meta Tags -->
        <title>Oxhorn.Info</title>
        <meta name="description" content="템트리 보는 사이트">
        <meta property="og:image" content="/public/thumb/fankit_sidney.jpg">
        <meta property="og:type" content="website"> 
        <meta property="og:title" content="Oxhorn.Info">
        <meta property="og:description" content="템트리 보는 사이트">
        <meta property="og:url" content="http://www.oxhorn.info/">


        <!-- Twitter Meta Tags / 트위터 -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Oxhorn.Info">
        <meta name="twitter:description" content="템트리 보는 사이트">
        <meta name="twitter:image" content="/public/thumb/fankit_sidney.jpg">

        <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
        <meta itemprop="name" content="Oxhorn.Info">
        <meta itemprop="description" content="템트리 보는 사이트">
        <meta itemprop="image" content="/public/thumb/fankit_sidney.jpg">

        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">


<meta name="naver-site-verification" content="25f886f60f7a42c33ac317828efbfc383a22b3cd" />
<link rel="shortcut icon" href="/public/favicon.ico"/>
        <link rel="stylesheet" href="/public/offcanvas.css"/>
        <link rel="stylesheet" href="/public/dist/css/bootstrap.min.css"/>	
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
 <script src="/public/include.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161183796-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161183796-1');
</script>
<script data-ad-client="ca-pub-8785439393916040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>

    <body>
        <nav include-html="/public/html/nav.html" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
        <div class="container"><br>         
            <div class="row">
            <div class="col-7">
             <br>
                    <li class="list-group-item list-group-item-secondary">        
                    <% prodList.forEach(function(item, index){ %>       
                        <a href="/character/<%=item.character%>/"><img src="/public/thumb/<%=item.character%>.jpg" alt=<%= item.character %> class="img-thumbnail"></a>
                    <% }); %>   


                </li> <br>             
                   <div class="container">
                   <li class="list-group-item list-group-item-secondary">        
                    <h5><strong>킹갓퍼즈 소식</strong></h5>   
                        <div class="row">
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/article/event/topic/27998332">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/27/1590554576539.png" class="img-fluid" alt="신도의 특권 ㅣ 프리미엄 이벤트 기간 : 5/28 점검 후 ~ 6/25 점검 전"></a> </div>

<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/league/2020/tournament">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/27/1590554864292.png" class="img-fluid"  alt="사이퍼즈 온라인 토너먼트 ㅣ 팀 등록 기간 : 5/28 점검 후 ~ 6/1 23:59"></a> </div>
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/article/event/topic/27998329">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/27/1590554630941.png" class="img-fluid"  alt="엘리의 스케치북 ㅣ 5/28 점검 후 ~ 6/18 점검 전"></a> </div>
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/events/202005/supporters">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/27/1590554683339.png" class="img-fluid"  alt="불꽃 서포터즈 ㅣ 이벤트 기간 : 6/9 방송 시작 후 ~ 6/18 방송 종료 전"></a> </div>
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/events/202005/angel">
                       <img src="http://pub.cyphers.co.kr/images2/content/2020/05/27/1590554524223.png" class="img-fluid"  alt="신규/귀환 능력자는 천.사.해 ㅣ 5/28 점검 후 ~ 6/18 점검 전"></a> </div>
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/cos/202005/casablanca">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/20/1589954307500.png"  class="img-fluid" alt="영원의 카사블랑카 코스튬 ㅣ 5/21 점검 후 ~ 6/25 점검 전 "></a> </div>
<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/events/marblerush">
                        <img src="http://pub.cyphers.co.kr/images2/content/2020/05/06/1588734472056.png" class="img-fluid"  alt="마블러쉬 ㅣ 5/7 점검 후 ~ 6/4 점검 전"></a> </div>


<div class="col-4">
                            <a href="http://cyphers.nexon.com/cyphers/pages/events/welcome">
                         <img src="http://pub.cyphers.co.kr/images2/content/2020/05/06/1588734525207.png" class="img-fluid" alt="환영합니다! 능력자님 ㅣ 5/7 점검 후 ~ 6/3 23시 59분"></a> </div>
                            
                        </div>
                         </li>
                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><br>

<!-- 수평 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8785439393916040"
     data-ad-slot="2282196919"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script><br><br>
                </div>   
      
            </div>
            <div class="col-5">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
					<li class="nav-item"><a class="nav-link active" id="tank-tab" data-toggle="tab" href="#tank" role="tab" aria-controls="tank" aria-selected="true">탱커</a></li>
					<li class="nav-item"><a class="nav-link" id="melee-tab" data-toggle="tab" href="#melee" role="tab" aria-controls="melee" aria-selected="false">근딜</a></li>
					<li class="nav-item"><a class="nav-link" id="range-tab" data-toggle="tab" href="#range" role="tab" aria-controls="range" aria-selected="false">원딜</a></li>
                    <li class="nav-item"><a class="nav-link" id="sup-tab" data-toggle="tab" href="#sup" role="tab" aria-controls="sup" aria-selected="false">서포터</a></li>
				</ul>  
               
                    <div class="tab-content" id="myTabContent">
                        <div role="tabpanel" class="tab-pane fade show active" id="tank" aria-labelledby="tank-tab">
                         <table id="dtBasic1" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col" class="text-center"><strong>#</strong></th>
                        <th scope="col" class="text-center"><strong>캐릭터</strong></th>
                        <th scope="col" class="text-center"><strong>픽률</strong></th>
                        <th scope="col" class="text-center"><strong>승률</strong></th>
                        </tr>
                    </thead>    
                         <tbody>              
                          <%i=0%>
                            <% tank.forEach(function(item, index){ %>       
                                    <tr>
                                    <td class="text-center"> <%=++i%></td>
                                    <td class="text-center"><a href="/character/<%=item.character%>/탱커" style="color: black"><img src="https://img-api.neople.co.kr/cy/characters/<%=item.charID%>" class="border border-secondary" width="40" height="40"  alt=<%= item.character %>><br><small><strong><%= item.character %></strong></small></a></td>
                                    <td class="text-center"><strong><%= item.pickRate%>%<br><small><%= item.pick%></strong></small></td>
                                    <td class="text-center"><strong><%= item.winRate%>%<br><small><%= item.win%></strong><small></td>
                                    </tr>
                            <% }); %>
                        </tbody></table>     
                        </div> 
                        <div role="tabpanel" class="tab-pane fade" id="melee" aria-labelledby="melee-tab"> 
                        <table id="dtBasic2"class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr> <th scope="col" class="text-center"><strong>#</strong></th>
                        <th scope="col" class="text-center"><strong>캐릭터</strong></th>
                        <th scope="col" class="text-center"><strong>픽률</strong></th>
                        <th scope="col" class="text-center"><strong>승률</strong></th>
                        </tr>
                    </thead>    <tbody>  <%i=0%>      
                        <% melee.forEach(function(item, index){ %>       
                                <tr>
                                  <td class="text-center"> <%=++i%></td>
                                <td class="text-center">  <a href="/character/<%=item.character%>/근거리딜러"  style="color: black"><img src="https://img-api.neople.co.kr/cy/characters/<%=item.charID%>" class="border border-secondary" width="40" height="40"  alt=<%= item.character %>><br><small><strong><%= item.character %></strong></small></a></td>
                                <td class="text-center"><strong><%= item.pickRate%>%<br><small><%= item.pick%></strong></small></td>
                                 <td class="text-center"><strong><%= item.winRate%>%<br><small><%= item.win%></strong><small></td>
                                </tr>
                        <% }); %> </tbody></table>     </div> 
                        <div role="tabpanel" class="tab-pane fade" id="range" aria-labelledby="range-tab"> <table id="dtBasic3" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr> <th scope="col" class="text-center"><strong>#</strong></th>
                        <th scope="col" class="text-center"><strong>캐릭터</strong></th>
                        <th scope="col" class="text-center"><strong>픽률</strong></th>
                        <th scope="col" class="text-center"><strong>승률</strong></th>
                        </tr>
                    </thead>    <tbody>      <%i=0%>
                        <% range.forEach(function(item, index){ %>       
                                <tr>  <td class="text-center"> <%=++i%></td>
                                <td class="text-center">  <a href="/character/<%=item.character%>/원거리딜러" style="color: black"><img src="https://img-api.neople.co.kr/cy/characters/<%=item.charID%>" class="border border-secondary" width="40" height="40" alt=<%= item.character %>><br><small><strong><%= item.character %></strong></small></a></td>
                                <td class="text-center"><strong><%= item.pickRate%>%<br><small><%= item.pick%></strong></small></td>
                                 <td class="text-center"><strong><%= item.winRate%>%<br><small><%= item.win%></strong><small></td>
                                </tr>
                        <% }); %></tbody></table>     </div> 
                        <div role="tabpanel" class="tab-pane fade" id="sup" aria-labelledby="sup-tab"> <table id="dtBasic4" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr> <th scope="col" class="text-center"><strong>#</strong></th>
                        <th scope="col" class="text-center"><strong>캐릭터</strong></th>
                        <th scope="col" class="text-center"><strong>픽률</strong></th>
                        <th scope="col" class="text-center"><strong>승률</strong></th>
                        </tr>
                    </thead>    <tbody> <%i=0%>     
                        <% sup.forEach(function(item, index){ %>       
                                <tr>  <td class="text-center"> <%=++i%></td>
                                <td class="text-center">  <a href="/character/<%=item.character%>/서포터" style="color: black"><img src="https://img-api.neople.co.kr/cy/characters/<%=item.charID%>" class="border border-secondary" width="40" height="40"  alt=<%= item.character %>><br><small><strong><%= item.character %></strong></small></a></td>
                                <td class="text-center"><strong><%= item.pickRate%>%<br><small><%= item.pick%></strong></small></td>
                                 <td class="text-center"><strong><%= item.winRate%>%<br><small><%= item.win%></strong><small></td>
                                </tr>
                        <% }); %></tbody></table>     </div>       
                    </div>                                    
                
            </div>
           </div><br>

   
           <footer style="background-color: #ffffff;">      
                <a href="http://developers.neople.co.kr" target="_blank"><img src="public/itemImg/기술표기_가로형_color.png" alt="Neople 오픈 API" /> </a>
                <p>&copy; Company 2020</p>
            </footer>
        </div>
<script>includeHTML();</script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>     
        	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="/public/assets/js/ie-emulation-modes-warning.js"></script>
            <script src="/public/ie10-viewport-bug-workaround.js"></script>
            <script src="/public/assets/demo/datatables-demo.js"></script>
        	<script src="/public/dist/js/scripts.js"></script>   
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </body>
</html>
