<!doctype html>
<html>
    <head>
	 <!-- HTML Meta Tags -->
		<title><%=pageName%></title>
        <meta name="description" content="템트리 보는 사이트">
        <!-- Twitter Meta Tags / 트위터 -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="지존퍼즈">
        <meta name="twitter:description" content="템트리 보는 사이트">
        <meta name="twitter:image" content="/public/thumb/fankit_sidney.jpg">
        <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
        <meta itemprop="name" content="지존퍼즈">
        <meta itemprop="description" content="템트리 보는 사이트">
        <meta itemprop="image" content="/public/thumb/fankit_sidney.jpg"> 
  		<meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="/public/ie-emulation-modes-warning.js"></script>
		
		<link rel="stylesheet" href="/public/dist/css/bootstrap.min.css"/>
	
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css"/>
    </head>
   
	<body>
	 <!-- NAVBAR================================================== -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 	<div class="container">
			<a class="navbar-brand" href="/">지존퍼즈</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item active"> <a class="nav-link" href="/statistic">캐릭터 통계<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"> <a class="nav-link" href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav><br>
        <!-- NAVBAR================================================== -->
		<div class="container">
			<div class="col-12">

				<div class="media">
					<img src="/public/thumb/<%=pageName%>.jpg" class="mr-3" alt=<%=pageName%> />				
					<h4 class="mt-0"><%=pageName%></h4>
					<img src="/public/attriImg/<%= charInfo[0].position%>.jpg">
					<strong>픽률 : <%= charInfo[0].pickRate%>%<br>승률 : <%= charInfo[0].winRate%>%</strong>
					<br><img src="/public/attriImg/<%= charInfo[1].position%>.jpg">
					<strong>픽률 : <%= charInfo[1].pickRate%>%<br>승률 : <%= charInfo[1].winRate%>%</strong>
					<br><img src="/public/attriImg/<%= charInfo[2].position%>.jpg">
					<strong>픽률 : <%= charInfo[2].pickRate%>%<br>승률 : <%= charInfo[2].winRate%>%</strong>				
				</div>
			
					<ul class="nav nav-tabs" role="tablist" id="myTab">
						 <li class="nav-item"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">기본 정보</a></li>
						 <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">아이템 상세</a></li>
					 	<li class="nav-item"><a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">캐릭터 정보</a></li>
						 <li class="nav-item"><a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">캐릭터 평가</a></li>
					</ul>
					

					<div class="tab-content" id="myTabContent">
						<div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
							<table>
							<tr>
							<td><br><h4 data-toggle="tooltip" data-placement="left" title="각 아이템별 픽률 1위임니당">인기 아이템 빌드<h4></td>
							<td><i class="fa fa-question-circle"></i></td>
							</tr>
							</table>
							<table class="table  table-sm ">
								<tr>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].handInfo%>"><img src="/public/itemImg/<%= build[0].hand%>.jpg" width="64" height="64" /><br><%= build[0].hand%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].headInfo%>"><img src="/public/itemImg/<%= build[0].head%>.jpg" width="64" height="64"/><br><%= build[0].head%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].chestInfo%>"><img src="/public/itemImg/<%= build[0].chest%>.jpg" width="64" height="64"/><br><%= build[0].chest%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].waistInfo%>"><img src="/public/itemImg/<%= build[0].waist%>.jpg" width="64" height="64"/><br><%= build[0].waist%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].legInfo%>"><img src="/public/itemImg/<%= build[0].leg%>.jpg" width="64" height="64"/><br><%= build[0].leg%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].shoeInfo%>"><img src="/public/itemImg/<%= build[0].shoe%>.jpg" width="64" height="64"/><br><%= build[0].shoe%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].arti1Info%>"><img src="/public/itemImg/<%= build[0].arti1%>.jpg" width="64" height="64"/><br><%= build[0].arti1%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].arti2Info%>"><img src="/public/itemImg/<%= build[0].arti2%>.jpg" width="64" height="64"/><br><%= build[0].arti2%></td>
								</tr>
								<tr>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].healInfo%>"><img src="/public/itemImg/<%= build[0].heal%>.jpg" width="64" height="64"/><br><%= build[0].heal%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].speedInfo%>"><img src="/public/itemImg/<%= build[0].speed%>.jpg" width="64" height="64"/><br><%= build[0].speed%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].attackInfo%>"><img src="/public/itemImg/<%= build[0].attack%>.jpg" width="64" height="64"/><br><%= build[0].attack%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].defenseInfo%>"><img src="/public/itemImg/<%= build[0].defense%>.jpg" width="64" height="64"/><br><%= build[0].defense%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].specialInfo%>"><img src="/public/itemImg/<%= build[0].special%>.jpg" width="64" height="64"/><br><%= build[0].special%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].neckInfo%>"><img src="/public/itemImg/<%= build[0].neck%>.jpg" width="64" height="64"/><br><%= build[0].neck%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].arti3Info%>"><img src="/public/itemImg/<%= build[0].arti3%>.jpg" width="64" height="64"/><br><%= build[0].arti3%></td>
								<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[0].arti4Info%>"><img src="/public/itemImg/<%= build[0].arti4%>.jpg" width="64" height="64"/><br><%= build[0].arti4%></td>
								</tr>
							</table>	

							<br><h3>인기 특성</h3>
							<table class="table  table-sm">
									<thead class="thead-dark">
										<tr>	
											<th class="text-center">특성 Lv1</th>
											<th class="text-center">특성 Lv2</th>
											<th class="text-center">특성 Lv3</th>
											<th class="text-center">픽률</th>
											<th class="text-center">승률</th>	
										</tr>	
									</thead>	
									<tbody>	
										<% for(var i=0 ; i<3 ; i++){ %>
											<tr>
												<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri1Info%>"><img src="/public/attriImg/<%= build[i].attributeLv1 %>.jpg"/><br><%= build[i].attributeLv1 %></td>
												<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri2Info%>"><img src="/public/attriImg/<%= build[i].attributeLv2 %>.jpg"/><br><%= build[i].attributeLv2 %></td>
												<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri3Info%>"><img src="/public/attriImg/<%= build[i].attributeLv3 %>.jpg"/><br><%= build[i].attributeLv3 %></td>
												<td class="text-center"><br><%= build[i].attriPick %>%</td>
												<td class="text-center"><br><%= build[i].attriWin %>%</td>
											</tr>
										<% }; %>
									</tbody>
							</table>
						</div>
					
						<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
							<br>
							<div class="table-responsive">
								<table class="table table-sm">
								<thead class="thead-dark">
									<tr>	
										<th class="text-center">특성 Lv1</th>
										<th class="text-center">특성 Lv2</th>
										<th class="text-center">특성 Lv3</th>
										<th class="text-center">픽률</th>
										<th class="text-center">승률</th>	
									</tr>	
									</thead>	
									<tbody>	
									<% for(var i=0 ; i<5 ; i++){ %>
									<tr>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri1Info%>"><img src="/public/attriImg/<%= build[i].attributeLv1 %>.jpg"/><br><%= build[i].attributeLv1 %></td>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri2Info%>"><img src="/public/attriImg/<%= build[i].attributeLv2 %>.jpg"/><br><%= build[i].attributeLv2 %></td>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attri3Info%>"><img src="/public/attriImg/<%= build[i].attributeLv3 %>.jpg"/><br><%= build[i].attributeLv3 %></td>
										<td class="text-center"><br><%= build[i].attriPick %>%</td>
										<td class="text-center"><br><%= build[i].attriWin %>%</td>
									</tr>
									<% }; %>
									</tbody>
									</table>
							</div>
							<div class="table-responsive">
								<table class="table table-sm">
								<thead class="thead-dark">
									<tr>
										<th class="text-center">손(공격)</th>
										<th class="text-center">픽률</th>
										<th class="text-center">승률</th>
										<th class="text-center">머리(치명)</th>
										<th class="text-center">픽률</th>
										<th class="text-center">승률</th>
										<th class="text-center">가슴(체력)</th>
										<th class="text-center">픽률</th>
										<th class="text-center">승률</th>
									</tr>	
									</thead>	
									<tbody>	
										<% for(var i=0 ; i<5 ; i++){ %>
									<tr>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].handInfo%>"><img src="/public/itemImg/<%= build[i].hand %>.jpg" width="64" height="64"/><br> <%= build[i].hand %></td>
										<td class="text-center"><%= build[i].handPick %>%</td>
										<td class="text-center"><%= build[i].handWin %>%</td>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].headInfo%>"><img src="/public/itemImg/<%= build[i].head %>.jpg" width="64" height="64"/><br><%= build[i].head %></td>
										<td class="text-center"><%= build[i].headPick %>%</td>
										<td class="text-center"><%= build[i].headWin %>%</td>
										<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].chestInfo%>"><img src="/public/itemImg/<%= build[i].chest %>.jpg" width="64" height="64"/><br><%= build[i].chest %></td>
										<td class="text-center"><%= build[i].chestPick %>%</td>
										<td class="text-center"><%= build[i].chestWin %>%</td>
									</tr>
									<% }; %>
									</tbody>
								</table>
							</div>
							<div class="table-responsive">
							<table class="table table-sm">
								<thead class="thead-dark">
								<tr>
									<th class="text-center">허리(회피)</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">바지(방어)</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">신발(속도)</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
								</tr>	
								</thead>
								<% for(var i=0 ; i<5 ; i++){ %>
								<tr>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].waistInfo%>"><img src="/public/itemImg/<%= build[i].waist %>.jpg" width="64" height="64"/><br><%= build[i].waist %></td>
									<td class="text-center"><%= build[i].waistPick %>%</td>
									<td class="text-center"><%= build[i].waistWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].legInfo%>"><img src="/public/itemImg/<%= build[i].leg %>.jpg" width="64" height="64"/><br><%= build[i].leg %></td>
									<td class="text-center"><%= build[i].legPick %>%</td>
									<td class="text-center"><%= build[i].legWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].shoeInfo%>"><img src="/public/itemImg/<%= build[i].shoe %>.jpg" width="64" height="64"/><br><%= build[i].shoe %></td>
									<td class="text-center"><%= build[i].shoePick %>%</td>
									<td class="text-center"><%= build[i].shoeWin %>%</td>
								</tr>
								<% }; %>
							</table>
							</div>
							<div class="table-responsive">
							<table class="table table-sm">
							<thead class="thead-dark">
								<tr >
									<th class="text-center">장신구1</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">장신구2</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">회복킷</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
								</tr>	
								</thead>
								<tbody>
								<% for(var i=0 ; i<5 ; i++){ %>
								<tr>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].arti1Info%>"><img src="/public/itemImg/<%= build[i].arti1 %>.jpg" width="64" height="64"/><br><%= build[i].arti1 %></td>
									<td class="text-center"><%= build[i].arti1Pick %>%</td>
									<td class="text-center"><%= build[i].arti1Win %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].arti2Info%>"><img src="/public/itemImg/<%= build[i].arti2 %>.jpg" width="64" height="64"/><br><%= build[i].arti2 %></td>
									<td class="text-center"><%= build[i].arti2Pick %>%</td>
									<td class="text-center"><%= build[i].arti2Win %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].healInfo%>"><img src="/public/itemImg/<%= build[i].heal %>.jpg" width="64" height="64"/><br><%= build[i].heal %></td>
									<td class="text-center"><%= build[i].healPick %>%</td>
									<td class="text-center"><%= build[i].healWin %>%</td>
								</tr>
								<% }; %>
								</tbody>
							</table>
							</div>
								<div class="table-responsive">
							<table class="table table-sm">
							<thead class="thead-dark">
								<tr>
									<th class="text-center">이속킷</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">공격킷</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">방어킷</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
								</tr>	
								</thead>
								<% for(var i=0 ; i<5 ; i++){ %>
								<tr>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].speedInfo%>"><img src="/public/itemImg/<%= build[i].speed %>.jpg" width="64" height="64"/><br><%= build[i].speed %></td>
									<td class="text-center"><%= build[i].speedPick %>%</td>
									<td class="text-center"><%= build[i].speedWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].attackInfo%>"><img src="/public/itemImg/<%= build[i].attack %>.jpg" width="64" height="64"/><br><%= build[i].attack %></td>
									<td class="text-center"><%= build[i].attackPick %>%</td>
									<td class="text-center"><%= build[i].attackWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].defenseInfo%>"><img src="/public/itemImg/<%= build[i].defense %>.jpg" width="64" height="64"/><br><%= build[i].defense %></td>
									<td class="text-center"><%= build[i].defensePick %>%</td>
									<td class="text-center"><%= build[i].defenseWin %>%</td>
								</tr>
								<% }; %>
							</table>
							</div>
								<div class="table-responsive">
								<table class="table table-sm">
								<thead class="thead-dark">
								<tr>
									<th class="text-center">특수킷</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">목</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">장신구3</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
									<th class="text-center">장신구4</th>
									<th class="text-center">픽률</th>
									<th class="text-center">승률</th>
								</tr>	
								</thead>
								<% for(var i=0 ; i<5 ; i++){ %>
								<tr>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].specialInfo%>"><img src="/public/itemImg/<%= build[i].special %>.jpg" width="64" height="64"/><br><%= build[i].special %></td>
									<td class="text-center"><%= build[i].specialPick %>%</td>
									<td class="text-center"><%= build[i].specialWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].neckInfo%>"><img src="/public/itemImg/<%= build[i].neck %>.jpg" width="64" height="64"/><br><%= build[i].neck %></td>
									<td class="text-center"><%= build[i].neckPick %>%</td>
									<td class="text-center"><%= build[i].neckWin %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].arti3Info%>"><img src="/public/itemImg/<%= build[i].arti3 %>.jpg" width="64" height="64"/><br><%= build[i].arti3 %></td>
									<td class="text-center"><%= build[i].arti3Pick %>%</td>
									<td class="text-center"><%= build[i].arti3Win %>%</td>
									<td class="text-center" data-placement="right" data-toggle="tooltip" title="<%= build[i].arti4Info%>"><img src="/public/itemImg/<%= build[i].arti4 %>.jpg" width="64" height="64"/><br><%= build[i].arti4 %></td>
									<td class="text-center"><%= build[i].arti4Pick %>%</td>
									<td class="text-center"><%= build[i].arti4Win %>%</td>
								</tr>
								<% }; %>
							</table>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="messages" aria-labelledby="messages-tab"><br>캐릭정보</div>
						<div role="tabpanel" class="tab-pane fade" id="settings" aria-labelledby="settings-tab"><br>캐릭평가</div>
					</div>
			</div>
			<div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
				<table class="display nowrap" style="width:100%">
																			
				</table>             
			</div>
		</div>


	</body>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>       
    <script type="text/javascript" src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>        
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    
    <script src="/public/assets/demo/datatables-demo.js"></script>
	<script src="/public/dist/js/scripts.js"></script>	
</html>
