<!doctype html>
<html>
    <head>
<script data-ad-client="ca-pub-8785439393916040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	<link rel="shortcut icon" href="/public/favicon.ico"/>
        <!-- HTML Meta Tags -->
        <title>Oxhorn.Info</title>
        <meta name="description" content="템트리 보는 사이트">

        <!-- Twitter Meta Tags / 트위터 -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Oxhorn.Info">
        <meta name="twitter:description" content="템트리 보는 사이트">
        <meta name="twitter:image" content="/public/thumb/fankit_sidney.jpg">

        <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
        <meta itemprop="name" content="Oxhorn.Info">
        <meta itemprop="description" content="템트리 보는 사이트">
        <meta itemprop="image" content="/public/thumb/fankit_sidney.jpg">

        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="/public/offcanvas.css"/>
        <link rel="stylesheet" href="/public/dist/css/bootstrap.min.css"/>
	
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
    </head>
    <!-- NAVBAR================================================== -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 	<div class="container">
			<a class="navbar-brand" href="/">옥스혼.Info</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				<li class="nav-item "><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item "> <a class="nav-link" href="/statistic">캐릭터 통계</a></li>
                                <li class="nav-item active"> <a class="nav-link" href="/ranking">랭킹</a></li>
				<li class="nav-item"> <a class="nav-link" href="/contact">Contact</a></li>
				</ul>
			</div>
             <form action="/user" class="form-inline my-2 my-lg-0" method = "get" autocomplete ="off"> 
                <input type="text" id="txt_str" maxlength="8" class="form-control mr-sm-2" type="search" placeholder="유저명" aria-label="Search" name = "userName" autocomplete ="off">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form> 
		</div>
	</nav>
    <!-- NAVBAR================================================== -->
    <body>
 <!-- 수평 -->
 <div class="container"><br>         
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead class="thead-dark">
                        <tr>
                        <th class="text-center">순위</th>
                        <th class="text-center">닉네임</th>
                        <th class="text-center">등급</th>
                        <th class="text-center">RP</th>
                        <th class="text-center">소속 클랜</th>
                        </tr>
                </thead>
                <tbody>              
                <% for(var i=0 ; i<1000 ; i++){ %>
                        <tr>
                        <td class="text-center"><%= ranking.rows[i].rank%></td>
                        <td class="text-center"><a href="/user?userName=<%=ranking.rows[i].nickname%>"><%= ranking.rows[i].nickname%></td>
                        <td class="text-center"><%= ranking.rows[i].grade%></td>
                        <td class="text-center"><%= ranking.rows[i].ratingPoint%></td>
                        <td class="text-center"><%= ranking.rows[i].clanName%></td>
                        </tr>
                <% }; %>
                </tbody>
        </table>




           <footer style="background-color: #ffffff;">      
                <a href="http://developers.neople.co.kr" target="_blank"><img src="public/itemImg/기술표기_가로형_color.png" alt="Neople 오픈 API" /> </a>
                <p>&copy; Company 2020</p>
            </footer>
        </div>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>     
        	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="/public/assets/js/ie-emulation-modes-warning.js"></script>
            <script src="/public/ie10-viewport-bug-workaround.js"></script>
            <script src="/public/assets/demo/datatables-demo.js"></script>
        	<script src="/public/dist/js/scripts.js"></script>   
    </body>
</html>
