<!doctype html>
<html lang="ko">
<html>
    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161183796-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161183796-1');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script data-ad-client="ca-pub-8785439393916040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<link rel="shortcut icon" href="/public/favicon.ico"/>
       
        <link rel="stylesheet" href="/public/offcanvas.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
 <script src="/public/include.js"></script>
    </head>
   
      <body>
<header include-html="/public/html/header.html"></header>
        <nav include-html="/public/html/nav.html" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav><br>
        <div class="container">
            <div class="col-12">   
                <strong>   
                    <ul class="list-inline">
                        <li class="list-inline-item"><h3><%= normal.nickname%></h3></li>
                        <li class="list-inline-item"> <%= normal.grade%>급</li>
                        <li class="list-inline-item">  <% if( normal.clanName!=null){%> 클랜 : <%= normal.clanName%><%}%></li>
                    </ul>
                </strong>
                <div class="row">     
                    <div class="col-6"><strong> 
                    <table class="table">
                            <thead>
                            <tr>	
                                <th class="text-center">Type</th>
                                <th class="text-center">승률</th>
                            </tr>
                            </thead>	
                            <tbody>
                                <% if(normal.records.length==2){%>
                                    <% if((normal.records[0].stopCount+normal.records[0].winCount+normal.records[0].loseCount)!=0){%>
                                    <tr>
                                        <td class="text-center"> 공식전 </td> 
                                        <td class="text-center"><%=((normal.records[0].winCount/(normal.records[0].winCount+normal.records[0].loseCount))*100).toFixed(1) %>%<br>
                                        (<%=normal.records[0].winCount %>승 <%=normal.records[0].loseCount %>패)</td>
                                    </tr>
                                    <%}%>   
                                    <tr>
                                        <td class="text-center"> 일반전 </td> 
                                        <td class="text-center"><%=((normal.records[1].winCount/(normal.records[1].winCount+normal.records[1].loseCount))*100).toFixed(1) %>%<br>
                                        (<%=normal.records[1].winCount %>승 <%=normal.records[1].loseCount %>패)</td>
                                    </tr>
                                <%}else if(normal.records.length==1){%>
                                <tr>
                                    <td class="text-center"> 일반전 </td> 
                                    <td class="text-center"><%=((normal.records[0].winCount/(normal.records[0].winCount+normal.records[0].loseCount))*100).toFixed(1) %>%<br>
                                    (<%=normal.records[0].winCount %>승 <%=normal.records[0].loseCount %>패)</td>
                                </tr>  
                                <%}%>
                            </tbody>
                        </table> </strong>
                    </div>
                    <div class="col-6">
                        <strong> 
                            <%if(normal.tierName!=null){%> 
                                <%= normal.tierName%><br>
                                현재 점수 : <%= normal.ratingPoint%>점  <br>최고 점수 : <%= normal.maxRatingPoint%>점<br><br>
                            <%}%>
                        </strong>
                    </div>
                </div><br>
            </div>
        		<ul class="nav nav-tabs" role="tablist" id="myTab">
						 <li class="nav-item"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">일반전</a></li>
						 <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">공식전</a></li>
				</ul>
					<div class="tab-content" id="myTabContent">
						<div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab"><br>
                        <% if(normal.matches.rows.length==0){%><br>최근 3달간 일반전 기록이 없습니다.<br><% }; %>
                                <%if(normal.matches.rows.length!=0){%>
                                    <% var normalL = normal.matches.rows.length%>
                                    <% var normalWin=0; var normalLose=0 %>
                                    <% for(var i=0 ; i<normalL ; i++){%>
                                    <% if(normal.matches.rows[i].playInfo.result=="win"){normalWin++}else{normalLose++}}%><div class="container border border-info"><br>
                                         <div class="row">  
                                        <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6"> <strong> 
                                            <div class="card mb-4">
                                                <div class="card-header" data-toggle="tooltip" data-placement="bottom" title="지난 3개월간 진행한 경기(최대 100개)입니다."><i class="fas fa-chart-pie mr-1"></i>최근 일반전 기록</div>
                                                <div class="card-body"><canvas id="normalPieChart" width="100%" height="50"></canvas></div>
                                         <a class="text-center">승률 <%= (normalWin/normalL*100).toFixed(0)%>% (<%= normalWin %>승 <%= normalLose %>패)</a>
                                           
                                            </div> </strong>
                                        </div>
                                          <div class="col-md-6 col-lg-3 col-sm-6 col-xs-6"><strong> 
                                            <table class="table">	
                                             <thead><th class="text-center">포지션</th><th class="text-center">승률</th></thead> 
                                                <tbody>
                                                <%var j = normalPosi.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                        <tr>
                                                            <td class="text-center"><img src="/public/attriImg/posi/<%= normalPosi[i][0]%>.jpg"></td> 
                                                            <td class="text-center"><%= ((normalPosi[i][2]/normalPosi[i][1])*100).toFixed(0)%>%<br>(<%= normalPosi[i][2]%>승 <%= normalPosi[i][1]- normalPosi[i][2]%>패)</td> 
                                                        </tr>  
                                                    <%}%>
                                                </tbody>
                                            </table></strong>            
                                        </div>
                                             
                                        <div class="col-md-12 col-lg-5 col-sm-12 col-xs-12"> <strong> 
                                            <table class="table"> 
                                            <thead>   <th class="text-center">캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th></thead>       
                                                <tbody>
                                                <%if(normalChar.length<4){var j = normalChar.length}else{var j=4}%>
                                                    <% for(var i=0 ; i<j ; i++){%>
                                                        <tr>
                                                            <td class="text-center"> <a href="/character/<%= normalChar[i][0]%>/"><img src="/public/thumb/<%= normalChar[i][0]%>.jpg"></a> </td> 
                                                            <td class="text-center">
                                                            <%= ((normalChar[i][2]/normalChar[i][1])*100).toFixed(0)%>% <br>(<%= normalChar[i][2]%>승 <%= normalChar[i][1]- normalChar[i][2]%>패)</td> 
                                                            <td class="text-center"><%=(normalChar[i][3]/normalChar[i][1]).toFixed(1)%> / <span style="color:red"><%=(normalChar[i][4]/normalChar[i][1]).toFixed(1)%></span> / <%=(normalChar[i][5]/normalChar[i][1]).toFixed(1)%><br>
    <% var kda =((normalChar[i][3]+normalChar[i][5])/normalChar[i][4]).toFixed(1)%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                                            </td> 
                                                        </tr>
                                                    <%}%>
                                                </tbody>                           
                                            </table>
                                             </strong>
                                        </div>     
                                        </div>  <br> </div>                            
                                <%}%>                              
                            <% if(normal.matches.rows.length>=20){var j=20;}else{var j=normal.matches.rows.length}%>
                            <% for(var i=0 ; i<j ; i++){ %><br> 
                                <% if(normal.matches.rows[i].playInfo.result=="win"){%>
                                <li class="list-group-item list-group-item-primary"><%}else{%>
                                <li class="list-group-item list-group-item-danger"><%}%>
                                <div class="container">
                                <strong>
                                <div class="row">     
                                    <div class="col-md-12 col-lg-3 col-sm-12 col-xs-12 align-self-center">
                                        <div class="col text-center">
                                            <%=normal.matches.rows[i].date %><br></div><div class="col text-center">  
                                            <%= Math.floor(normal.matches.rows[i].playInfo.playTime/60)%>분<%= normal.matches.rows[i].playInfo.playTime%60%>초
                                        </div>             
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">
                                    <div class="col text-center">
                                        <% if(normal.matches.rows[i].playInfo.result=="win"){%><span style="color:blue">승리</span><%}else{%><span style="color:red">패배</span><%}%><br>             
                                        일반전   <% if(normal.matches.rows[i].playInfo.partyUserCount==0){ %>solo<%}else{%> <%=normal.matches.rows[i].playInfo.partyUserCount%>인<%}%><br>                        
                                        <small><%= normal.matches.rows[i].map.name %></small>
                                        </div>                                
                                    </div>
                                   <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">    
                                        <div class="col text-center"> <a href="/character/<%= normal.matches.rows[i].playInfo.characterName %>/<%= normal.matches.rows[i].position.name%>">   
                                        <img src = "/public/thumb/<%= normal.matches.rows[i].playInfo.characterName%>.jpg" class="border border-secondary"  width="46" height="46"><img src="/public/attriImg/posi/<%= normal.matches.rows[i].position.name%>.jpg"></a><br>
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[0].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= normal.matches.rows[i].position.attribute[0].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[1].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= normal.matches.rows[i].position.attribute[1].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[2].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= normal.matches.rows[i].position.attribute[2].name%>">  
                                        </div>               
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">         
                                    <div class="col text-center">
                                         Lv.<%= normal.matches.rows[i].playInfo.level %><br>    
                                        <%= normal.matches.rows[i].playInfo.killCount %> /
                                    <span style="color:red"><%= normal.matches.rows[i].playInfo.deathCount %></span> /
                                        <%= normal.matches.rows[i].playInfo.assistCount %><br>
                                        <% var kda =((normal.matches.rows[i].playInfo.killCount+normal.matches.rows[i].playInfo.assistCount)/normal.matches.rows[i].playInfo.deathCount).toFixed(1);%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                        </div>      
                                    </div>
                                </div>
                                </div>
                                        </strong>                
                                    </li>
                             <% }; %>
                                      <br></div>   
						<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab"><br>
                        <% if(rating.matches.rows.length==0){%>   
                        최근 3달간 공식전 기록이 없습니다.<% }; %>        
                            <%if(rating.matches.rows.length!=0){%>
                                <% var ratingL = rating.matches.rows.length%>
                                <% var matchWin=0; var matchLose=0 %>
                                <% for(var i=0 ; i<ratingL ; i++){if(rating.matches.rows[i].playInfo.result=="win"){matchWin++}else{matchLose++}}%><div class="container border border-info"><br>
                            <div class="row">    
                                 <div class="col-md-6 col-lg-4 col-sm-6 col-xs-6"> <strong> 
                                    <div class="card mb-4">
                                        <div class="card-header" data-toggle="tooltip" data-placement="bottom" title="지난 3개월간 진행한 경기(최대 100개)입니다."><i class="fas fa-chart-pie mr-1"></i>최근 공식전 기록</div>   
                                        <div class="card-body"><canvas id="ratingPieChart" width="100%" height="50"></canvas></div>
                                       <a class="text-center">승률 <%= (matchWin/ratingL*100).toFixed(0)%>% (<%= matchWin %>승 <%= matchLose %>패)</a>
                                    </div></strong>
                                </div>
                                   <div class="col-md-6 col-lg-3 col-sm-6 col-xs-6"><strong> 
                                    <table class="table"> 
                                             <thead><th class="text-center">포지션</th><th class="text-center">승률</th></thead> 	
                                            <tbody>
                                            <%var j = ratingPosi.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>
                                                        <td class="text-center"><img src="/public/attriImg/posi/<%= ratingPosi[i][0]%>.jpg"></td> 
                                                        <td class="text-center"><%= ((ratingPosi[i][2]/ratingPosi[i][1])*100).toFixed(0)%>%<br>(<%= ratingPosi[i][2]%>승 <%= ratingPosi[i][1]- ratingPosi[i][2]%>패)</td> 
                                                    </tr>  
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                        </div>
                                            
                              <div class="col-md-12 col-lg-5 col-sm-12 col-xs-12"> <strong> 
                                        <table class="table"> 
                                            <thead>   <th class="text-center">캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th></thead>       
                                            <tbody>
                                            <%if(ratingChar.length<4){var j = ratingChar.length}else{var j=4}%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>
                                                        <td class="text-center"> <a href="/character/<%= ratingChar[i][0]%>/"><img src="/public/thumb/<%= ratingChar[i][0]%>.jpg"></a> </td> 
                                                            <td class="text-center">
                                                            <%= ((ratingChar[i][2]/ratingChar[i][1])*100).toFixed(0)%>% <br>(<%= ratingChar[i][2]%>승 <%= ratingChar[i][1]- ratingChar[i][2]%>패)</td> 
                                                            <td class="text-center"><%=(ratingChar[i][3]/ratingChar[i][1]).toFixed(1)%> / <span style="color:red"><%=(ratingChar[i][4]/ratingChar[i][1]).toFixed(1)%></span> / <%=(ratingChar[i][5]/ratingChar[i][1]).toFixed(1)%><br>
<% var kda =((ratingChar[i][3]+ratingChar[i][5])/ratingChar[i][4]).toFixed(1)%>
                                         평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                                            </td> </tr>  
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                    </div>
                                </div> <br></div>
                                        <%}%>
                            <% if(rating.matches.rows.length>=20){var j=20;}else{var j=rating.matches.rows.length}%> 
                            <% for(var i=0 ; i<j ; i++){ %>
                            <br> 
                            <% if(rating.matches.rows[i].playInfo.result=="win"){%>
                            <li class="list-group-item list-group-item-primary"><%}else{%>
                            <li class="list-group-item list-group-item-danger"><%}%>
                          <div class="container">
                              <strong>
                            <div class="row">     
                               <div class="col-md-12 col-lg-3 col-sm-12 col-xs-12 align-self-center">
                                        <div class="col text-center">
                                            <%=rating.matches.rows[i].date %><br></div><div class="col text-center">  
                                            <%= Math.floor(rating.matches.rows[i].playInfo.playTime/60)%>분<%= rating.matches.rows[i].playInfo.playTime%60%>초
                                        </div>             
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">
                                    <div class="col text-center">
                                        <% if(rating.matches.rows[i].playInfo.result=="win"){%><span style="color:blue">승리</span><%}else{%><span style="color:red">패배</span><%}%><br>             
                                        공식전  <% if(rating.matches.rows[i].playInfo.partyUserCount==0){ %>solo<%}else{%> <%=rating.matches.rows[i].playInfo.partyUserCount%>인<%}%><br>                        
                                        <small><%= rating.matches.rows[i].map.name %></small>
                                        </div>                                
                                    </div>
                                   <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">    
                                        <div class="col text-center"> <a href="/character/<%= rating.matches.rows[i].playInfo.characterName %>/<%= rating.matches.rows[i].position.name%>">   
                                        <img src = "/public/thumb/<%= rating.matches.rows[i].playInfo.characterName%>.jpg" class="border border-secondary"  width="46" height="46"><img src="/public/attriImg/posi/<%= rating.matches.rows[i].position.name%>.jpg"></a><br>

                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[0].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= rating.matches.rows[i].position.attribute[0].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[1].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= rating.matches.rows[i].position.attribute[1].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[2].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="46" height="46" title="<%= rating.matches.rows[i].position.attribute[2].name%>">  
                                        </div>               
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-sm-4 col-xs-4 align-self-center">         
                                    <div class="col text-center">
                                         Lv.<%= rating.matches.rows[i].playInfo.level %><br>    
                                        <%= rating.matches.rows[i].playInfo.killCount %> /
                                    <span style="color:red"><%= rating.matches.rows[i].playInfo.deathCount %></span> /
                                        <%= rating.matches.rows[i].playInfo.assistCount %><br>
                                        <% var kda =((rating.matches.rows[i].playInfo.killCount+rating.matches.rows[i].playInfo.assistCount)/rating.matches.rows[i].playInfo.deathCount).toFixed(1);%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                        </div>      
                                    </div>
                                </div>
                                </div>
                                        
                                    </strong>                    
                                  </li>
                            <% }; %>
                        </div>
					</div>

<br><br>
           <footer style="background-color: #ffffff;">      
                <a href="http://developers.neople.co.kr" target="_blank"><img src="public/itemImg/기술표기_가로형_color.png" alt="Neople 오픈 API" /> </a>
                <p>&copy; Company 2020</p>
            </footer>
        </div>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>     
            <script>
                var ctx = document.getElementById("normalPieChart");
                var normalPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["승리", "패배"],
                    datasets: [{
                    data: [<%= normalWin %>, <%= normalLose %>],
                    backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
                    }],
                },
                });
</script><script>
                var ctx = document.getElementById("ratingPieChart");
                var ratingPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["승리", "패배"],
                    datasets: [{
                    data: [<%= matchWin %>, <%= matchLose %>],
                    backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
                    }],
                },
                });
            </script>
 <script>includeHTML();</script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>     
            <script src="/public/request.js"></script>
        	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="/public/assets/js/ie-emulation-modes-warning.js"></script>
            <script src="/public//ie10-viewport-bug-workaround.js"></script>
            <script src="/public/assets/demo/datatables-demo.js"></script>
        	<script src="/public/dist/js/scripts.js"></script>   
            <script type="text/javascript" src="/public/search.js"></script>
    </body>
</html>
