<!doctype html>
<html lang="ko">
<html>
    <head>
        <title>oxhorn.Info</title>
        <meta name="description" content="사이퍼즈 전적 검색 / 아이템 통계">
        <meta property="og:image" content="http://static.cyphers.co.kr/img/data/fankit_sidney.jpg">
        <meta property="og:type" content="website"> 
        <meta property="og:title" content="Oxhorn.Info">
        <meta property="og:description" content="사이퍼즈 전적 검색 / 아이템 통계">
        <meta property="og:url" content="http://www.oxhorn.info/">


        <!-- Twitter Meta Tags / 트위터 -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="oxhorn.Info">
        <meta name="twitter:description" content="사이퍼즈 전적 검색 / 아이템 통계">
        <meta name="twitter:image" content="http://static.cyphers.co.kr/img/data/fankit_sidney.jpg">

        <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
        <meta itemprop="name" content="oxhorn.Info">
        <meta itemprop="description" content="사이퍼즈 전적 검색 / 아이템 통계">
        <meta itemprop="image" content="http://static.cyphers.co.kr/img/data/fankit_sidney.jpg">

        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">


<meta property="og:type" content="website"> 
<meta property="og:title" content="Oxhorn.Info">
<meta property="og:description" content="사이퍼즈 전적 검색 / 아이템 통계">
<meta property="og:image" content="http://static.cyphers.co.kr/img/data/fankit_sidney.jpg">
<meta property="og:url" content="http://www.oxhorn.info/">


<meta name="naver-site-verification" content="25f886f60f7a42c33ac317828efbfc383a22b3cd" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161183796-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161183796-1');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script data-ad-client="ca-pub-8785439393916040" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<link rel="shortcut icon" href="/public/favicon.ico"/>
       
        <link rel="stylesheet" href="/public/offcanvas.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sl-1.3.1/datatables.min.css"/>
 <script src="/public/include.js"></script>
 
    </head>  
      <body>
        <nav include-html="/public/html/nav.html" class="navbar navbar-expand-lg navbar-dark bg-dark"></nav><br>
        <div class="container">
            <div class="col-12">   
                        <div class="row">     
                    <div class="col-6"><strong> 
                    <ul class="list-inline">
                        <li class="list-inline-item"><h3><%= normal.nickname%></h3></li>
                        <li class="list-inline-item"> <%= normal.grade%>급</li>
                        <li class="list-inline-item">  <% if( normal.clanName!=null){%> 클랜 : <%= normal.clanName%><%}%></li>
                        <%if(normal.tierName!=null){%> 
                            <br><li class="list-inline-item"><h5><%= normal.tierName%></li>
                            <li class="list-inline-item">(현재 : <%= normal.ratingPoint%>점 / 최고 : <%= normal.maxRatingPoint%>점)</h5></li>
                        <%}%>                 
                    </ul>
 
                    <table class="table">
                            	
                            <tbody>
                                <% if(normal.records.length==2){%>
                                    <% if((normal.records[0].stopCount+normal.records[0].winCount+normal.records[0].loseCount)!=0){%>
                                    <tr>
                                        <td> 공식전 </td> 
                                        <td><%=((normal.records[0].winCount/(normal.records[0].winCount+normal.records[0].loseCount))*100).toFixed(1) %>%
                                        (<%=normal.records[0].winCount %>승 <%=normal.records[0].loseCount %>패)</td>
                                    </tr>
                                    <%}%>   
                                    <tr>
                                        <td > 일반전 </td> 
                                        <td><%=((normal.records[1].winCount/(normal.records[1].winCount+normal.records[1].loseCount))*100).toFixed(1) %>%
                                        (<%=normal.records[1].winCount %>승 <%=normal.records[1].loseCount %>패)</td>
                                    </tr>
                                <%}else if(normal.records.length==1){%>
                                <tr>
                                    <td class="text-center"> 일반전 </td> 
                                    <td class="text-center"><%=((normal.records[0].winCount/(normal.records[0].winCount+normal.records[0].loseCount))*100).toFixed(1) %>%<br>
                                    (<%=normal.records[0].winCount %>승 <%=normal.records[0].loseCount %>패)</td>
                                </tr>  
                                <%}%>
                            </tbody>
                        </table> </strong></div>   
                        <div class="col-6 text-center">
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 수평 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8785439393916040"
     data-ad-slot="2282196919"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
                </div><br>
            </div> <div class="col-12">
        		<ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item"> <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">전체</a></li>
                         <li class="nav-item"><a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">일반전</a></li>
						 <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">공식전</a></li>
                         <li class="nav-item"><a class="nav-link" id="userStat-tab" data-toggle="tab" href="#userStat" role="tab" aria-controls="userStat" aria-selected="false">캐릭터 통계</a></li>
                           <li class="nav-item"><a class="nav-link" id="posiStat-tab" data-toggle="tab" href="#posiStat" role="tab" aria-controls="posiStat" aria-selected="false">포지션 통계</a></li>
				</ul>
					<div class="tab-content" id="myTabContent">
						<div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab"><br>
                         <% if(normal.matches.rows.length==0&&rating.matches.rows.length==0){%><br>최근 플레이 기록이 없습니다.<br><% }; %>
                            <% var k =0; var l =0;%>
                            <% if((normal.matches.rows.length+rating.matches.rows.length)>=40){var j=40;}else{var j=(normal.matches.rows.length+rating.matches.rows.length)}%>
                         <div class="container">
                            <% for(var i=0 ; i<j ; i++){ %>
                             <% if(rating.matches.rows[l] == undefined){var temp = normal.matches.rows[k++]; var type = "일반전"}
                               else if(normal.matches.rows[k] == undefined){var temp = rating.matches.rows[l++]; var type = "공식전"}
                                else if(normal.matches.rows[k].date<rating.matches.rows[l].date){var temp = rating.matches.rows[l++]; var type = "공식전"}
                                else {var temp = normal.matches.rows[k++]; var type = "일반전"}%>
                                <% if(temp.playInfo.result=="win"){%>
                                <li class="list-group-item list-group-item-primary m-2"><%}else{%>
                                <li class="list-group-item list-group-item-danger m-2"><%}%>
                                <div class="container">
                                <strong>
                                <div class="row">   
                                    <div class="col-2 p-0 align-self-center">
                                        <div class="col text-center">  
                                        <%var dayTime = (new Date(nowDate)-new Date(temp.date)) %>
                                        <%var month = Math.round(dayTime/(24 * 60 * 60 * 1000*30)) %>
                                        <%var day = Math.round(dayTime/(24 * 60 * 60 * 1000)) %>
                                        <%var hour = Math.round(dayTime/(60 * 60 * 1000)) %>
                                        <%var min = (dayTime/(60 * 1000)) %>
                                 <% if(temp.playInfo.result=="win"){%><span style="color:blue">승리</span><%}else{%><span style="color:red">패배</span><%}%><br>  
                                            <a data-toggle="tooltip" data-placement="bottom" title ="<%=temp.date%>"><%if(month>0){%><%=month%>달전<%}else if(month<0){%><%=12+month%>달전
                                            <%}else if(day>0){%><%=day%>일 전
                                            <%}else if(hour>0){%><%=hour%>시간 전
                                            <%}else {%><%=min%>분 전<%}%>
                                            </a><br>
                                            <%= Math.floor(temp.playInfo.playTime/60)%>분
                                               </div>
                                    </div>
                                    <div class="col-3 p-2 align-self-center">
                                    <div class="col text-center text-truncate" >
                                                  
                                         <%=type%><br><% if(temp.playInfo.partyUserCount==0){ %>solo<%}else{%> <%=temp.playInfo.partyUserCount%>인<%}%><br>                        
                                       <small data-toggle="tooltip" data-placement="bottom" title ="<%= temp.map.name %>"><%= temp.map.name %></small>
                                        </div>                                
                                    </div>
                                   <div class="col-3 p-0 align-self-center">    
                                        <div class="col text-center"> <a href="/character/<%= temp.playInfo.characterName %>/<%= temp.position.name%>">   
                                        <img src = "/public/thumb/<%= temp.playInfo.characterName%>.jpg" class="border border-secondary"  width="38" height="38"><img src="/public/attriImg/posi/<%= temp.position.name%>.jpg" width="38" height="38"></a><br>
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= temp.position.attribute[0].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= temp.position.attribute[0].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= temp.position.attribute[1].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= temp.position.attribute[1].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= temp.position.attribute[2].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= temp.position.attribute[2].name%>">  
                                        </div>               
                                    </div>
                                    <div class="col-3 p-0 align-self-center">         
                                    <div class="col text-center">
                                         Lv.<%= temp.playInfo.level %><br><%= temp.playInfo.killCount %> / <span style="color:red"><%= temp.playInfo.deathCount %></span> / <%= temp.playInfo.assistCount %><br>
                                        <% var kda =((temp.playInfo.killCount+temp.playInfo.assistCount)/temp.playInfo.deathCount).toFixed(1);%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                        </div>      
                                    </div>
                                    <div class="col-1 p-0 align-self-center">
                                    <button type="button" class="btn btn-info" id = "btn" src = "<%=temp.matchId%>">Info</button>
                                    </div>
                                </div>
                                </div>
                                       </strong>                
                                    </li><div id = "<%=temp.matchId%>_home" src='disable'></div>
                            <% }; %>
                                      
                         </div>
                        </div>  
                       
                        <div role="tabpanel" class="tab-pane fade" id="messages" aria-labelledby="messages-tab"><br>
                        <% if(normal.matches.rows.length==0){%><br>최근 3달간 일반전 기록이 없습니다.<br><% }; %>
                                <%if(normal.matches.rows.length!=0){%>
                                    <% var normalL = normal.matches.rows.length%>
                                    <% var normalWin=0; var normalLose=0 %>
                                    <% for(var i=0 ; i<normalL ; i++){%>
                                    <% if(normal.matches.rows[i].playInfo.result=="win"){normalWin++}else{normalLose++}}%><div class="container border border-info"><br>
                                         <div class="row">  
                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"> <strong> 
                                            <div class="card mb-4">
                                                <div class="card-header" data-toggle="tooltip" data-placement="bottom" title="지난 3개월간 진행한 경기(최대 100개)입니다."><i class="fas fa-chart-pie mr-1"></i>최근 일반전 기록</div>
                                                <div class="card-body"><canvas id="normalPieChart" width="100%" height="50"></canvas></div>
                                         <a class="text-center">승률 <%= (normalWin/normalL*100).toFixed(0)%>% (<%= normalWin %>승 <%= normalLose %>패)</a>
                                         </div> </strong></div>
                                           <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><strong> 
                                        <table class="table">
                                            <thead>
                                            <tr>	                       
                                                <th class="text-center">인원</th>
                                                <th class="text-center">승률</th>
                                            </tr>
                                            </thead>	
                                            <tbody>
                                                <%var j = normalParty.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>                 
                                                        <td class="text-center"> <% if(normalParty[i][0]==0){%> Solo <%}else if(normalParty[i][0]==1){%>2인(탈주)<%}else{%><%=normalParty[i][0]%>인 파티<%}%>
                                                        <br><a data-toggle="tooltip" data-placement="bottom" title ="<%=normalParty[i][1]%>경기" class="text-info"><%=(normalParty[i][1]/normalL*100).toFixed(0)%>%</a></td>
                                                        <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= normalParty[i][2]%>승 <%= (normalParty[i][1]-normalParty[i][2])%>패)"><%= ((normalParty[i][2]/normalParty[i][1])*100).toFixed(0)%>%
                                                       </a></td>
                                                    </tr>
                                                <%}%>
                                            </tbody>
                                        </table> </strong></div> 
                                          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><strong> 
                                            <table class="table">	
                                             <thead><th class="text-center">선호 포지션</th><th class="text-center">승률</th></thead> 
                                                <tbody>
                                                <%var j = normalPosi.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                        <tr>
                                                            <td class="text-center"><img src="/public/attriImg/posi/<%= normalPosi[i][0]%>.jpg" width="40" height="40"><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=normalPosi[i][1]%>경기" class="text-info"><%=(normalPosi[i][1]/normalL*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= normalPosi[i][2]%>승 <%= normalPosi[i][1]- normalPosi[i][2]%>패)"><%= ((normalPosi[i][2]/normalPosi[i][1])*100).toFixed(0)%>%</a></td> 
                                                        </tr>  
                                                    <%}%>
                                                </tbody>
                                            </table></strong>            
                                        </div>
                                             
                                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"> <strong> 
                                            <table class="table"> 
                                            <thead><th class="text-center text-truncate">선호 캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th></thead>       
                                                <tbody>
                                                <%if(normalChar.length<4){var j = normalChar.length}else{var j=4}%>
                                                    <% for(var i=0 ; i<j ; i++){%>
                                                        <tr>
                                                            <td class="text-center"> <a href="/character/<%= normalChar[i][0]%>/"><img src="/public/thumb/<%= normalChar[i][0]%>.jpg" width="40" height="40"></a><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=normalChar[i][1]%>경기" class="text-info"><%= (normalChar[i][1]/normalL*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= normalChar[i][2]%>승 <%= normalChar[i][1]- normalChar[i][2]%>패)">
                                                            <%= ((normalChar[i][2]/normalChar[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%=(normalChar[i][3]/normalChar[i][1]).toFixed(1)%> / <span style="color:red"> <%=(normalChar[i][4]/normalChar[i][1]).toFixed(1)%> </span> / <%=(normalChar[i][5]/normalChar[i][1]).toFixed(1)%></strong></small><br>
                                                            <% var kda =((normalChar[i][3]+normalChar[i][5])/normalChar[i][4]).toFixed(1)%>
                                                             <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                                            </td> 
                                                        </tr>
                                                    <%}%>
                                                </tbody>                           
                                            </table>
                                             </strong>
                                        </div>     
                                        </div></div>                            
                                <%}%>                              
                            <% if(normal.matches.rows.length>=40){var j=40;}else{var j=normal.matches.rows.length}%>
                            <% for(var i=0 ; i<j ; i++){ %> 
                                <% if(normal.matches.rows[i].playInfo.result=="win"){%>
                                <li class="list-group-item list-group-item-primary m-2"><%}else{%>
                                <li class="list-group-item list-group-item-danger m-2"><%}%>
                                <div class="container">
                                <strong>
                                <div class="row">     
                                   <div class="col-2 p-0 align-self-center">
                                       <div class="col text-center">
                                         <%var dayTime = (new Date(nowDate)-new Date(normal.matches.rows[i].date)) %>
                                        <%var month = Math.round(dayTime/(24 * 60 * 60 * 1000*30)) %>
                                        <%var day = Math.round(dayTime/(24 * 60 * 60 * 1000)) %>
                                        <%var hour = Math.round(dayTime/(60 * 60 * 1000)) %>
                                        <%var min = (dayTime/(60 * 1000)) %>
                                  <% if(normal.matches.rows[i].playInfo.result=="win"){%><span style="color:blue">승리</span><%}else{%><span style="color:red">패배</span><%}%><br>             
                                        
                                            <a data-toggle="tooltip" data-placement="bottom" title ="<%=normal.matches.rows[i].date %>"><%if(month>0){%><%=month%>달전<%}else if(month<0){%><%=12+month%>달전
                                            <%}else if(day>0){%><%=day%>일 전
                                            <%}else if(hour>0){%><%=hour%>시간 전
                                            <%}else {%><%=min%>분 전<%}%>
                                            </a><br></div><div class="col text-center">  
                                            <%= Math.floor(normal.matches.rows[i].playInfo.playTime/60)%>분
                                        </div>             
                                    </div>
                        <div class="col-3 p-2 align-self-center">
                                    <div class="col text-center text-truncate" >
                                        일반전<br><% if(normal.matches.rows[i].playInfo.partyUserCount==0){ %>solo<%}else if(normal.matches.rows[i].playInfo.partyUserCount==1){%>2인(탈주)<%}else{%> <%=normal.matches.rows[i].playInfo.partyUserCount%>인<%}%><br>   
                                       <small data-toggle="tooltip" data-placement="bottom" title ="<%= normal.matches.rows[i].map.name %>"><%= normal.matches.rows[i].map.name %></small>
                                        </div>                                
                                    </div>
                                   <div class="col-3 p-0 align-self-center">    
                                         <div class="col text-center"> <a href="/character/<%= normal.matches.rows[i].playInfo.characterName %>/<%= normal.matches.rows[i].position.name%>">   
                                        <img src = "/public/thumb/<%= normal.matches.rows[i].playInfo.characterName%>.jpg" class="border border-secondary"  width="38" height="38"><img src="/public/attriImg/posi/<%= normal.matches.rows[i].position.name%>.jpg"  width="38" height="38"></a><br>
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[0].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= normal.matches.rows[i].position.attribute[0].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[1].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= normal.matches.rows[i].position.attribute[1].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= normal.matches.rows[i].position.attribute[2].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= normal.matches.rows[i].position.attribute[2].name%>">  
                                        </div>               
                                    </div>
                                    <div class="col-3 p-0 align-self-center">       
                                     <div class="col text-center">
                                         Lv.<%= normal.matches.rows[i].playInfo.level %><br>    
                                        <%= normal.matches.rows[i].playInfo.killCount %> / 
                                    <span style="color:red"><%= normal.matches.rows[i].playInfo.deathCount %></span> / 
                                        <%= normal.matches.rows[i].playInfo.assistCount %><br>
                                        <% var kda =((normal.matches.rows[i].playInfo.killCount+normal.matches.rows[i].playInfo.assistCount)/normal.matches.rows[i].playInfo.deathCount).toFixed(1);%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                        </div>      
                                    </div>
                                   <div class="col-1 p-0 align-self-center">
                                     <button type="button" class="btn btn-info" id = "btn" src = "<%=normal.matches.rows[i].matchId%>">Info</button>
                                    </div>
                                </div>
                                </div>
                                        </strong>                
                                   </li><div id = "<%=normal.matches.rows[i].matchId%>_messages" src='disable'></div>
                             <% }; %>
                                      <br></div>   
						<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab"><br>
                        <% if(rating.matches.rows.length==0){%>   
                        최근 3달간 공식전 기록이 없습니다.<% }; %>        
                            <%if(rating.matches.rows.length!=0){%>
                                <% var ratingL = rating.matches.rows.length%>
                                <% var matchWin=0; var matchLose=0 %>
                                <% for(var i=0 ; i<ratingL ; i++){if(rating.matches.rows[i].playInfo.result=="win"){matchWin++}else{matchLose++}}%><div class="container border border-info"><br>
                            <div class="row">    
                                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><strong> 
                                    <div class="card mb-4">
                                        <div class="card-header" data-toggle="tooltip" data-placement="bottom" title="지난 3개월간 진행한 경기(최대 100개)입니다."><i class="fas fa-chart-pie mr-1"></i>최근 공식전 기록</div>   
                                        <div class="card-body"><canvas id="ratingPieChart" width="100%" height="50"></canvas></div>
                                       <a class="text-center">승률 <%= (matchWin/ratingL*100).toFixed(0)%>% (<%= matchWin %>승 <%= matchLose %>패)</a>
                                    </div></strong>
                                </div>
                                 <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><strong> 
                                        <table class="table">
                                            <thead>
                                            <tr>	                       
                                                <th class="text-center">인원</th>
                                                <th class="text-center">승률</th>
                                            </tr>
                                            </thead>	
                                            <tbody>
                                                <%var j = ratingParty.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>
                                                        <td class="text-center"> <% if(ratingParty[i][0]==0){%> Solo <%}else if(ratingParty[i][0]==1){%>2인(탈주)<%}else{%><%=ratingParty[i][0]%>인 파티<%}%>
                                                        <br><a data-toggle="tooltip" data-placement="bottom" title ="<%=ratingParty[i][1]%>경기"  class="text-info"><%=(ratingParty[i][1]/ratingL*100).toFixed(0)%>%</a></td>
                                                        <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= ratingParty[i][2]%>승 <%= (ratingParty[i][1]-ratingParty[i][2])%>패)" ><%= ((ratingParty[i][2]/ratingParty[i][1])*100).toFixed(0)%>%
                                                        </a></td>
                                                    </tr>
                                                <%}%>
                                            </tbody>
                                        </table> </strong></div>
                                   <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"><strong> 
                                    <table class="table"> 
                                             <thead><th class="text-center">선호 포지션</th><th class="text-center">승률</th></thead> 	
                                            <tbody>
                                            <%var j = ratingPosi.length%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>
                                                        <td class="text-center"><img src="/public/attriImg/posi/<%= ratingPosi[i][0]%>.jpg" width="40" height="40"><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=ratingPosi[i][1]%>경기"  class="text-info"><%=(ratingPosi[i][1]/ratingL*100).toFixed(0)%>%</td> 
                                                        <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= ratingPosi[i][2]%>승 <%= ratingPosi[i][1]- ratingPosi[i][2]%>패)"><%= ((ratingPosi[i][2]/ratingPosi[i][1])*100).toFixed(0)%>%</a></td> 
                                                    </tr>  
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                        </div>
                                         
                                            
                              <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6"> <strong> 
                                        <table class="table"> 
                                            <thead>   <th class="text-center">선호 캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th></thead>       
                                            <tbody>
                                            <%if(ratingChar.length<4){var j = ratingChar.length}else{var j=4}%>
                                                <% for(var i=0 ; i<j ; i++){%>
                                                    <tr>
                                                        <td class="text-center"> <a href="/character/<%= ratingChar[i][0]%>/"><img src="/public/thumb/<%= ratingChar[i][0]%>.jpg"  width="40" height="40"></a><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=ratingChar[i][1]%>경기"  class="text-info"><%=(ratingChar[i][1]/ratingL*100).toFixed(0)%>%</td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= ratingChar[i][2]%>승 <%= ratingChar[i][1]- ratingChar[i][2]%>패)">
                                                            <%= ((ratingChar[i][2]/ratingChar[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%=(ratingChar[i][3]/ratingChar[i][1]).toFixed(1)%> / <span style="color:red"><%=(ratingChar[i][4]/ratingChar[i][1]).toFixed(1)%></span> / <%=(ratingChar[i][5]/ratingChar[i][1]).toFixed(1)%></small></strong>
                                                            <br><% var kda =((ratingChar[i][3]+ratingChar[i][5])/ratingChar[i][4]).toFixed(1)%>
                                          <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                                           
                                                            </td> </tr>  
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                    </div>
                                </div> </div>
                                        <%}%>
                            <% if(rating.matches.rows.length>=40){var j=40;}else{var j=rating.matches.rows.length}%> 
                            <% for(var i=0 ; i<j ; i++){ %>
                            <% if(rating.matches.rows[i].playInfo.result=="win"){%>
                            <li class="list-group-item list-group-item-primary m-2"><%}else{%>
                            <li class="list-group-item list-group-item-danger m-2"><%}%>
                          <div class="container">
                              <strong>
                            <div class="row">     
                                <div class="col-2 p-0 align-self-center">
                                            <div class="col text-center">
                                         <%var dayTime = (new Date(nowDate)-new Date(rating.matches.rows[i].date)) %>
                                        <%var month = Math.round(dayTime/(24 * 60 * 60 * 1000*30)) %>
                                        <%var day = Math.round(dayTime/(24 * 60 * 60 * 1000)) %>
                                        <%var hour = Math.round(dayTime/(60 * 60 * 1000)) %>
                                        <%var min = (dayTime/(60 * 1000)) %>
                                    <% if(rating.matches.rows[i].playInfo.result=="win"){%><span style="color:blue">승리</span><%}else{%><span style="color:red">패배</span><%}%><br>             
                                      
                                            <a data-toggle="tooltip" data-placement="bottom" title ="<%=rating.matches.rows[i].date %>"><%if(month>0){%><%=month%>달전<%}else if(month<0){%><%=12+month%>달전
                                            <%}else if(day>0){%><%=day%>일 전
                                            <%}else if(hour>0){%><%=hour%>시간 전
                                            <%}else {%><%=min%>분 전<%}%>
                                            </a><br></div><div class="col text-center">  
                                            <%= Math.floor(rating.matches.rows[i].playInfo.playTime/60)%>분
                                        </div>             
                                    </div>
                                     <div class="col-3 p-2 align-self-center">
                                       <div class="col text-center  text-truncate">
                                        공식전<br><% if(rating.matches.rows[i].playInfo.partyUserCount==0){ %>Solo<%}else if(rating.matches.rows[i].playInfo.partyUserCount==1){%>2인(탈주)<%}else{%> <%=rating.matches.rows[i].playInfo.partyUserCount%>인<%}%><br>           
                                    
                                        <small data-toggle="tooltip" data-placement="bottom" title ="<%= rating.matches.rows[i].map.name %>"><%= rating.matches.rows[i].map.name %></small>
                                        </div>                                
                                    </div>
                                <div class="col-3 p-0 align-self-center">    
                                          <div class="col text-center"> <a href="/character/<%= rating.matches.rows[i].playInfo.characterName %>/<%= rating.matches.rows[i].position.name%>">   
                                        <img src = "/public/thumb/<%= rating.matches.rows[i].playInfo.characterName%>.jpg" class="border border-secondary"  width="38" height="38"><img src="/public/attriImg/posi/<%= rating.matches.rows[i].position.name%>.jpg"  width="38" height="38"></a><br>

                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[0].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= rating.matches.rows[i].position.attribute[0].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[1].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= rating.matches.rows[i].position.attribute[1].name%>">
                                        <img src = "https://img-api.neople.co.kr/cy/position-attributes/<%= rating.matches.rows[i].position.attribute[2].id%>" data-toggle="tooltip" data-placement="bottom" data-html="true" width="34" height="34" title="<%= rating.matches.rows[i].position.attribute[2].name%>">  
                                        </div>               
                                    </div>
                                   <div class="col-3 p-0 align-self-center">    
                                    <div class="col text-center">
                                         Lv.<%= rating.matches.rows[i].playInfo.level %><br>    
                                        <%= rating.matches.rows[i].playInfo.killCount %> / 
                                    <span style="color:red"><%= rating.matches.rows[i].playInfo.deathCount %></span> / 
                                        <%= rating.matches.rows[i].playInfo.assistCount %><br>
                                        <% var kda =((rating.matches.rows[i].playInfo.killCount+rating.matches.rows[i].playInfo.assistCount)/rating.matches.rows[i].playInfo.deathCount).toFixed(1);%>
                                        평점 : <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>0<%}else{%><%=kda%><%}%>
                                        </div>      
                                    </div>
                                   <div class="col-1 p-0 align-self-center">
                                     <button type="button" class="btn btn-info" id = "btn" src = "<%=rating.matches.rows[i].matchId%>">Info</button>
                                    </div>
                                </div>
                                </div>
                                    </strong>                    
                                  </li><div id = "<%=rating.matches.rows[i].matchId%>_profile" src='disable'></div>
                            <% }; %>
                        </div>
                    <div role="tabpanel" class="tab-pane fade" id="userStat" aria-labelledby="userStat-tab">  
                    	<ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item"> <a class="nav-link active" id="normalStat-tab" data-toggle="tab" href="#normalStat" role="tab" aria-controls="normalStat" aria-selected="true">일반전</a></li>
                         <li class="nav-item"><a class="nav-link" id="ratingStat-tab" data-toggle="tab" href="#ratingStat" role="tab" aria-controls="ratingStat" aria-selected="false">공식전</a></li>
			        	</ul>
	<div class="tab-content" id="myTabContent">
                         <div role="tabpanel" class="tab-pane fade active show" id="normalStat" aria-labelledby="normalStat-tab"> 
                           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> <strong> 
                                        <table class="table"> 
                                            <thead><th class="text-center">선호 캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th>
                                           <th class="text-center">딜량</th><th class="text-center">받은피해</th>
                                             <th class="text-center">시야확보</th><th class="text-center">전투참여</th>
                                            </thead>       
                                            <tbody>
                                            
                                                <% for(var i=0 ; i<normalChar.length ; i++){%>
                                                    <tr>
                                                        <td class="text-center"> <a href="/character/<%= normalChar[i][0]%>/"><img src="/public/thumb/<%= normalChar[i][0]%>.jpg"  width="40" height="40"></a><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=normalChar[i][1]%>경기"  class="text-info"><%=(normalChar[i][1]/normalL*100).toFixed(0)%>%</td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= normalChar[i][2]%>승 <%= normalChar[i][1]- normalChar[i][2]%>패)">
                                                            <%= ((normalChar[i][2]/normalChar[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%=(normalChar[i][3]/normalChar[i][1]).toFixed(1)%> / <span style="color:red"><%=(normalChar[i][4]/normalChar[i][1]).toFixed(1)%></span> / <%=(normalChar[i][5]/normalChar[i][1]).toFixed(1)%></small></strong>
                                                            <br><% var kda =((normalChar[i][3]+normalChar[i][5])/normalChar[i][4]).toFixed(1)%>
                                          <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                          <%var playTime =  (normalChar[i][6]/normalChar[i][1]/60).toFixed(0)%>
                                                           
                                                            </td>                                           
                                                             <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalChar[i][7]/normalChar[i][1]/playTime*0.018).toFixed(1) %>K</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalChar[i][8]/normalChar[i][1]/playTime*0.018).toFixed(1)%>K</a></td>
                                                               <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalChar[i][9]/normalChar[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalChar[i][10]/normalChar[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                            </tr>  
                                                           
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="ratingStat" aria-labelledby="ratingStat-tab">  
                             <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> <strong> 
                                        <table class="table"> 
                                            <thead>   <th class="text-center">선호 캐릭터</th><th class="text-center">승률</th><th class="text-center">KDA</th>
                                           <th class="text-center">딜량</th><th class="text-center">받은피해</th>
                                             <th class="text-center">시야확보</th><th class="text-center">전투참여</th>
                                            </thead>       
                                            <tbody>
                                            
                                                <% for(var i=0 ; i<ratingChar.length ; i++){%>
                                                    <tr>
                                                        <td class="text-center"> <a href="/character/<%= ratingChar[i][0]%>/"><img src="/public/thumb/<%= ratingChar[i][0]%>.jpg"  width="40" height="40"></a><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=ratingChar[i][1]%>경기"  class="text-info"><%=(ratingChar[i][1]/ratingL*100).toFixed(0)%>%</td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= ratingChar[i][2]%>승 <%= ratingChar[i][1]- ratingChar[i][2]%>패)">
                                                            <%= ((ratingChar[i][2]/ratingChar[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%=(ratingChar[i][3]/ratingChar[i][1]).toFixed(1)%> / <span style="color:red"><%=(ratingChar[i][4]/ratingChar[i][1]).toFixed(1)%></span> / <%=(ratingChar[i][5]/ratingChar[i][1]).toFixed(1)%></small></strong>
                                                            <br><% var kda =((ratingChar[i][3]+ratingChar[i][5])/ratingChar[i][4]).toFixed(1)%>
                                          <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                          <%var playTime =  (ratingChar[i][6]/ratingChar[i][1]/60).toFixed(0)%>
                                                           
                                                            </td>                                           
                                                             <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingChar[i][7]/ratingChar[i][1]/playTime*0.018).toFixed(1) %>K</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingChar[i][8]/ratingChar[i][1]/playTime*0.018).toFixed(1)%>K</a></td>
                                                               <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingChar[i][9]/ratingChar[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingChar[i][10]/ratingChar[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                            </tr>  
                                                           
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                    </div>
                                    </div>
                                    </div></div>
                        <div role="tabpanel" class="tab-pane fade" id="posiStat" aria-labelledby="posiStat-tab">  
                    	<ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item"> <a class="nav-link active" id="normalPosiStat-tab" data-toggle="tab" href="#normalPosiStat" role="tab" aria-controls="normalPosiStat" aria-selected="true">일반전</a></li>
                         <li class="nav-item"><a class="nav-link" id="ratingPosiStat-tab" data-toggle="tab" href="#ratingPosiStat" role="tab" aria-controls="ratingPosiStat" aria-selected="false">공식전</a></li>
			        	</ul>
	                    <div class="tab-content" id="myTabContent">
                         <div role="tabpanel" class="tab-pane fade active show" id="normalPosiStat" aria-labelledby="normalPosiStat-tab"> 
                           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> <strong> 
                                        <table class="table"> 
                                            <thead><th class="text-center">선호 포지션</th><th class="text-center">승률</th><th class="text-center">KDA</th>
                                           <th class="text-center">딜량</th><th class="text-center">받은피해</th>
                                             <th class="text-center">시야확보</th><th class="text-center">전투참여</th>
                                            </thead>       
                                            <tbody>
                                            
                                                <% for(var i=0 ; i<normalPosi.length ; i++){%>
                                                    <tr>
                                                        <td class="text-center"><img src="/public/attriImg/posi/<%= normalPosi[i][0]%>.jpg"  width="40" height="40"><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=normalPosi[i][1]%>경기"  class="text-info"><%=(normalPosi[i][1]/normalL*100).toFixed(0)%>%</td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= normalPosi[i][2]%>승 <%= normalPosi[i][1]- normalPosi[i][2]%>패)">
                                                            <%= ((normalPosi[i][2]/normalPosi[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%=(normalPosi[i][3]/normalPosi[i][1]).toFixed(1)%> / <span style="color:red"><%=(normalPosi[i][4]/normalPosi[i][1]).toFixed(1)%></span> / <%=(normalPosi[i][5]/normalPosi[i][1]).toFixed(1)%></small></strong>
                                                            <br><% var kda =((normalPosi[i][3]+normalPosi[i][5])/normalPosi[i][4]).toFixed(1)%>
                                          <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                          <%var playTime =  (normalPosi[i][6]/normalPosi[i][1]/60).toFixed(0)%>
                                                           
                                                            </td>                                           
                                                             <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalPosi[i][7]/normalPosi[i][1]/playTime*0.018).toFixed(1) %>K</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalPosi[i][8]/normalPosi[i][1]/playTime*0.018).toFixed(1)%>K</a></td>
                                                               <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalPosi[i][9]/normalPosi[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (normalPosi[i][10]/normalPosi[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                            </tr>  
                                                           
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="ratingPosiStat" aria-labelledby="ratingPosiStat-tab">  
                             <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"> <strong> 
                                        <table class="table"> 
                                            <thead>   <th class="text-center">선호 포지션</th><th class="text-center">승률</th><th class="text-center">KDA</th>
                                           <th class="text-center">딜량</th><th class="text-center">받은피해</th>
                                             <th class="text-center">시야확보</th><th class="text-center">전투참여</th>
                                            </thead>       
                                            <tbody>
                                            <% for(var i=0 ; i<ratingPosi.length ; i++){%>
                                                    <tr>
                                                        <td class="text-center"><img src="/public/attriImg/posi/<%= ratingPosi[i][0]%>.jpg"  width="40" height="40"><br><a data-toggle="tooltip" data-placement="bottom" title ="<%=ratingPosi[i][1]%>경기"  class="text-info"><%=(ratingPosi[i][1]/ratingL*100).toFixed(0)%>%</td> 
                                                            <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="(<%= ratingPosi[i][2]%>승 <%= ratingPosi[i][1]- ratingPosi[i][2]%>패)">
                                                            <%= ((ratingPosi[i][2]/ratingPosi[i][1])*100).toFixed(0)%>%</a></td> 
                                                            <td class="text-center"><small><strong><%= (ratingPosi[i][3]/ratingPosi[i][1]).toFixed(1)%> / <span style="color:red"><%=(ratingPosi[i][4]/ratingPosi[i][1]).toFixed(1)%></span> / <%=(ratingPosi[i][5]/ratingPosi[i][1]).toFixed(1)%></small></strong>
                                                            <br><% var kda =((ratingPosi[i][3]+ratingPosi[i][5])/ratingPosi[i][4]).toFixed(1)%>
                                          <% if(kda=="Infinity"){ %>Perfect!<%}else if(kda=="NaN"){%>평점 : 0<%}else{%>평점 : <%=kda%><%}%>
                                          <%var playTime =  (ratingPosi[i][6]/ratingPosi[i][1]/60).toFixed(0)%>
                                                           
                                                            </td>                                           
                                                             <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingPosi[i][7]/ratingPosi[i][1]/playTime*0.018).toFixed(1) %>K</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingPosi[i][8]/ratingPosi[i][1]/playTime*0.018).toFixed(1)%>K</a></td>
                                                               <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingPosi[i][9]/ratingPosi[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                              <td class="text-center"><a data-toggle="tooltip" data-placement="bottom" title ="18분 기준"><%= (ratingPosi[i][10]/ratingPosi[i][1]/playTime*18).toFixed(0)%>점</a></td>
                                                            </tr>  
                                                           
                                                <%}%>
                                            </tbody>
                                          </table></strong>
                                    </div>
                                    </div>
                                    </div>
					</div> 
                  
                    
                    </div> 

<br><br>
           <footer style="background-color: #ffffff;">      
                <a href="http://developers.neople.co.kr" target="_blank"><img src="public/itemImg/기술표기_가로형_color.png" alt="Neople 오픈 API" /> </a>
                <p>&copy; Company 2020</p>
            </footer>
        </div>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>     
            <script>
                var ctx = document.getElementById("normalPieChart");
                var normalPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["승리", "패배"],
                    datasets: [{
                    data: [<%= normalWin %>, <%= normalLose %>],
                    backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
                    }],
                },
                });
            </script>
            <script>
                var ctx = document.getElementById("ratingPieChart");
                var ratingPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["승리", "패배"],
                    datasets: [{
                    data: [<%= matchWin %>, <%= matchLose %>],
                    backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
                    }],
                },
                });
            </script>
 <script>includeHTML();</script>
 
  <script>(adsbygoogle = window.adsbygoogle || []).push({}); </script>
            <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>     

        	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
             <script src="/public/assets/js/ie-emulation-modes-warning.js"></script>
            <script src="/public/ie10-viewport-bug-workaround.js"></script>
            <script src="/public/assets/demo/datatables-demo.js"></script>
            <script type="text/javascript" src="/public/userSearch.js"></script>
    </body>
</html>
